/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

/* Reset and base styles */
body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'Manrope', sans-serif;
    font-size: 1.5vw;
    display: flex;
    color: #ffffffea;
    flex-direction: column;
    height: 100%;
    line-height: 1.42857143;
    background-color: #fff;
}

/* Header styles */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 5%;
    padding-left: 5%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    color: #000000af;
}

.header:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header__title {
    font-size: 1.7vw;
}

/* Navigation styles */
.header__nav {
    display: flex;
}

.header__nav-list {
    display: flex;
    list-style: none;
}

.header__nav-link:hover {
    color: #00000091;
}

.header__nav-item {
    margin-left: 25px;
}

.header__nav-link {
    color: #000000;
    text-decoration: none;
    transition: color 0.3s;
}

/* Section styles */
.section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-shadow: 0px 0 14px black;
}

.section__title {
    font-family: 'Montserrat', sans-serif;
    font-size: 5vw;
    margin-bottom: 20px;
    text-shadow: rgba(75, 75, 75, 0.356) 5px 2px;
}

.section__content {
    font-size: 2vw;
    object-fit: cover;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-shadow: rgba(75, 75, 75, 0.575) 0px 0px 3px;
}

.section-1 {
    background-image: url('photos/image1.jpg');
}

.section-2 {
    background-image: url('photos/image2.jpg');
}

.section-3 {
    background-image: url('photos/image3.jpg');
}

.section__list {
    list-style: none;
    font-size: 0.8em;
    line-height: 1.6;
    margin-bottom: 30px;
}

/* Section button styles */
.section__button {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    font-family: 'Manrope', sans-serif;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.section__button:hover {
    background-color: #23c483;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    transform: translateY(-7px);
}

.section__button:active {
    transform: translateY(-1px);
}

/* Tour cards styles */
.tour-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1vw;
    color: black;
}

.tour-card {
    width: auto;
    height: auto;
    flex: 1 1 calc(25% - 2vw);
    margin: 0 1vw;
    padding: 1vw;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #f0f2f5;
    animation: slide-up 0.5s ease-out both;
    animation-fill-mode: both;
    margin-bottom: 0.7vw;
    border: 2px solid #00000007;
}

.tour-card__image {
    width: 100%;
    height: 450px;
    object-fit: cover;
    margin-bottom: 1vw;
    border-radius: 20px;
}

.tour-card__title {
    font-size: 1.5vw;
    font-weight: bold;
    margin-bottom: 0.5vw;
}

.tour-card__description {
    line-height: 1.4;
    margin-bottom: 1vw;
    flex-grow: 1;
    color: rgba(0, 0, 0, 0.685);
}

.tour-card__buttons {
    display: flex;
    width: auto;
    height: auto;
    justify-content: space-between;
}

.tour-card__button {
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
    color: rgb(19, 19, 19);
    border: none;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.116);
    padding: 8px;
    background-color: rgb(255, 255, 255);
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    font-family: 'Manrope', sans-serif;
}

.tour-card__button:hover {
    background-color: #e68d09;
    box-shadow: 0px 15px 20px #d38716;
    transform: translateY(-7px);
}

/* Footer styles */
.footer {
    display: flex;
    justify-content: center;
}

/* Image styles */
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 1vw;
    border-radius: 20px;
    animation-name: Appearance;
    animation-duration: 0.5s;
    animation-timing-function: cubic-bezier(.1, -.6, .2, 0);
}

/* Animation keyframes */
@keyframes Appearance {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes slide-up {
    0% {
      opacity: 0;
      transform: translateY(50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}

/* Media queries for responsive design */
@media (max-width: 768px) {
    .tour-card {
        flex: 1 1 calc(50% - 2vw);
    }
}

@media (max-width: 576px) {
    .tour-card {
        flex: 1 1 100%;
    }
}
