.navbar {
  background-color: #050505;
  padding: 10px;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  display: inline;
}

.navbar li a {
  text-decoration: none;
  color: #333;
  padding: 5px 10px;
}

.navbar li a:hover {
  background-color: #ddd;
}
  